.movie-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
}

.field-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 3rem;
}

.actor-name, .director-name {
  display: flex;
  align-items: center;
}

.form-button {
  margin-left: 1rem;
}

.add-button {
  margin-top: .5rem;
}
